* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #595dae;
    --supColor: #000;
}

main {
    display: flex;
    justify-content: flex-end;
}
.search-area {
    position: fixed;
    left: 0;
    width: 40%;
    background-color: var(--primaryColor);
    height: 100vh;
}

.search-area div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex; */
    align-items: center;
    width: 90%;
}

.result-area {
    width: 60%;
    padding: 15px;
}

.search-input {
    width: 90%;
    height: 40px;
    border: 0;
    outline: none;
    padding: 5px;
}
.search-input:focus {
    border: 2px solid black;
}

#search-btn {
    border: 0;
    cursor: pointer;
}
#search-btn i {
    width: 40px;
    height: 40px;
    color: #ffff;
    background-color: var(--supColor);
    display: block;
    /* icon by default the display is inline and dislapy inline does't respect width and height */
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border: none;
}
